<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ship Sticks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<p *ngIf="showError" class="danger">Sorry, we could not find a package.</p>
<p *ngIf="showName">{{name}}</p>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Search</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="checkoutForm">
          <!-- <div>
            <label for="typeOf">
              Package Type
            </label>
            <select class="form-control" formControlName="typeOf">
              <option value="">Please select a package type</option>
              <option value="golf">Golf</option>
              <option value="ski">Ski</option>
              <option value="luggage">Luggage</option>
            </select>
          </div> -->
          <div>
            <label for="length">
              Length
            </label>
            <input id="length" type="number" formControlName="length" class="form-control" required>
          </div>
          <div>
            <label for="width">
              Width
            </label>
            <input id="width" type="number" formControlName="width" class="form-control" required>
          </div>
          <div>
            <label for="height">
              Height
            </label>
            <input id="height" type="number" formControlName="height" class="form-control" required>
          </div>
          <div>
            <label for="weight">
              Weight
            </label>
            <input id="height" type="number" formControlName="weight" class="form-control" required>
          </div>

          <!-- <button class="button" type="submit">Purchase</button> -->
        
        </form>
        <br>
        <p *ngIf="showError" class="danger">Sorry, we could not find a package.</p>
        <p *ngIf="name">{{name}}</p>
      </div>
      <div class="modal-footer">
        <button id="close_modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="getProducts()" class="btn btn-primary" [disabled]="!checkoutForm.valid">Search</button>
      </div>
    </div>
  </div>
</div>
</div>